.cabecera {
    border-bottom: #fdfeff;
    z-index: 100;

}

.cabecera-header {
    display: flex;
    width: 100%;
    height: 130px;
    display: flex;
    background-color: #282c34;
    font-family: 'Montserrat', sans-serif;

}

.cabecera-hr {
    width: 95%;
}

.pruebalogo {
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 15rem;
    flex-grow: 1;
    text-align: center;

}

.cabecera-logo {
    width: 350px;

    /* margin-left: 10%;*/
    margin-top: 5px;
}

.cabecera-usuario {
    border: 1px solid yellow;
    position: relative;
    width: 12rem;
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    display: flex;

}

.cabecera-nombreCaja {
    width: 10rem;
    height: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 0.4rem;
}

@media (max-width: 600px) {
    .cabecera-nombreCaja {
        display: none;
    }

    .cabecera-usuario {
        width: 2rem;
        border: 1px solid #282c34;
    }

    .btn-desplegable {
        margin-left: 0px;
    }
}

.cabecera-lista {
    position: absolute;
    display: none;
    margin-top: 25px;
    right: 0rem;

}

.cabecera-lista li {
    width: 10rem;
    background-color: rgb(77, 79, 80);
    border-bottom: 0.5px solid rgb(170, 170, 170);
    list-style: none;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.btn-desplegable {
    width: 2rem;
    height: 2rem;
    background-color: aliceblue;
    margin-left: 5px;
    text-align: center;
}

.btn-desplegable>img {
    width: 0.7rem;
    margin-top: 12px;

}

.btn-desplegable:hover {
    background-color: rgb(108, 126, 143);
}

.btn_home {
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 40px;
    margin-left: 40px;
    background-color: rgb(79, 125, 168);
    border-radius: 10px;
    border: #939fb6;
    color: white;
}

@media (max-width: 920px) {
    .btn_home {
        position: absolute;
        width: 200px;
        height: 50px;
        margin-top: 170px;
        left: 50%;
        margin-left: -100px;

    }

    .cabecera-header {
        height: 200px;
        padding-bottom: 50px;
    }

}