.paginaUsuario-episodio {
    width: 90%;
    border: 3px solid rgb(13, 177, 163);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(77, 75, 75, 0.438), 0 3px 10px 0 rgba(150, 147, 147, 0.486);
    display: flex;
    flex-flow: wrap;
}

.paginaUsuario-episodio img {
    width: 200px;
    max-width: 400px;
    border-radius: 8px;
}

.paginaUsuario-episodio div {
    width: 19.5%;
    /* height: 100%;*/
    margin-top: auto;
    margin-bottom: auto;
    color: aliceblue;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}