.App{
    background-color: black;
    width: 100%;
    height: 650px;
}
.App-header{
    text-align: center;
}
.App-logo {
    height: 45vmin;
    pointer-events: none;
  }
  .link{
    text-align: center;
  }